@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-12">
        <header class="page-header">
            <h1 class="page-title">Забронировать игру в компании "{{ctrl.company.name}}"</h1>
        </header>
    </div>
</div>
