@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-12">
        <header class="page-header">
            <div class="row">
                <a class="btn btn-action btn-lg pull-right" href="/app/#!/company/gametypes/create">Создать тип игры</a>
                <h1 class="page-title">Типы игр компании</h1>
            </div>
        </header>
        <div ng-hide="$ctrl.count === 0" class="row" id="gametypes">
            <table class="table">
                <thead>
                    <tr><td>Имя</td><td>Цена</td></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="gametype in $ctrl.gametypes">
                        <td>{{gametype.name}}</td>
                        <td>{{gametype.price}}</td>
                        <td>
                            <a href="/app/#!/company/gametypes/update/{{gametype.id}}" title="Редактировать тип игры"><span class="fa fa-edit"></span></a>
                            &nbsp;
                            <a href="/app/#!/company/gametypes/delete/{{gametype.id}}" title="Удалить тип игры"><span class="fa fa-close text-danger"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="$ctrl.count === 0" class="row">
            <h3>Нет типов игр</h3>
        </div>
        <div ng-hide="$ctrl.count === 0" class="center-block">
            <ul class="pagination pagination-lg">
                <li class="ng-class: page == $ctrl.pageNumber ? 'active' : ''" ng-repeat="page in $ctrl.getPages()"><a ng-click="$ctrl.getPage(page)">{{page}}</a></li>
            </ul>
        </div>
    </div>
</div>