@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-12">
        <header class="page-header">
            <h1 class="page-title">Удаление игры</h1>
        </header>
        <h3>
            Вы действительно хотите удалить эту игру?
        </h3>
        <div class="text-right">
            <a class="btn btn-default" href="/app/#!/mygames">Отмена</a>
            <button class="btn btn-danger" type="button" ng-click="$ctrl.proceed()">Удалить</button>
        </div>
    </div>
</div>