@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-12">
        <header class="page-header">
            <h1 class="page-title">Управление аккаунтом {{$ctrl.name}}</h1>
        </header>
        <div class="row">
            <a href="/app/#!/mygames" class="btn btn-success">Мои игры</a>
        </div>
    </div>
</div>
